html {
    background-color: #F5F5F5;
    font-family: 'L&C Hairline HQ', sans-serif;
    letter-spacing: 1.25px;
}

a {
    text-decoration: none;
    color: #676767;
    cursor: pointer;
}

.page {
    padding-top: 15px;
    width: 1024px;
    color: #676767;
    -webkit-text-stroke: 0.5px #676767;
    margin: 0 auto;
}