.main {
    padding: 70px 70px 140px 70px;
    background-image: url(../../images/main-bckgr.png);
    background-size: cover;
    display: flex;
    flex-direction: row;
    gap: 70px;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .main {
        padding: 20px 20px 40px 20px;
        flex-direction: column;
        gap: 20px;
    }
}