.events__img {
    width: 400px;
    aspect-ratio: 4 / 5;
    object-fit: cover;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
    .events__img {
        width: 250px;
    }
}