.events__event {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-bottom: 30px;
    padding-top: 20px;
    width: 300px;
}

@media screen and (max-width: 767px) {
    .events__event {
        width: 200px;
    }
}