.contacts__map {
    width: 400px;
    aspect-ratio: 1 / 1;
    border: solid 20px white;
    margin-top: 40px;
}

@media screen and (max-width: 767px) {
    .contacts__map {
        width: calc(100% - 40px);
        margin: 0 auto;
    }
}