.events {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -20px;
    padding: 0 40px 50px 40px;
    align-items: left;
}

@media screen and (max-width: 767px) {
    .events {
        padding: 20px 20px;
    }
}