.menu {
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: relative;
    top: -60px;
    padding: 0 40px;
}

@media screen and (max-width: 767px) {
    .menu {
        top: 0;
        padding: 20px 20px;
    }
}