.link-bckgr_menu {
    top: 30px;
    left: -50px;
    height: 40px;
    z-index: 0;
    width: calc(100% + 100px);
}

@media screen and (max-width: 767px) {
    .link-bckgr_menu {
        top: 15px;
        left: -10px;
        height: 20px;
        width: calc(100% + 20px);
    }
}