.link-bckgr_main {
    top: 17px;
    right: -6px;
    height: 30px;
    width: calc(100% + 12px);
}

@media screen and (max-width: 767px) {
    .link-bckgr_main {
        top: 15px;
        left: -10px;
        height: 20px;
        width: calc(100% + 20px);
    }
}