.header {
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .header {
        flex-direction: column;
        justify-content: flex-start;
        gap: 16px;
    }
}