.menu__images-bckgr {
    background-color: rgba(255, 255, 255, 0.77);
    position: absolute;
    z-index: -1;
    width: 800px;
    height: 200px;
    top: 130px;
    left: -72px;
}

@media screen and (max-width: 767px) {
    .menu__images-bckgr {
        font-size: 30px;
        width: 300px;
        height: 500px;
    }
}